
  <li class="custom-links">
     <span class="size2">#PHP,</span> <span>#WordPress,</span> <span class="size1">#Magento,</span> <span>#Laravel,</span>
      <span class="size1">#HYVA,</span> <span>#SOAP,</span> <span>#REST,</span>
      <span class="size2">#MYSQL,</span> <span>#XML,</span> <span>#GIT,</span> <span>#HTML,</span> <span>#javascript,</span> <span class="size2">#AlpineJS,</span>
     <span>#jQuery,</span> <span>#CSS,</span> <span>#SASS,</span> <span>#LESS,</span> <span class="size2">#TailWind</span>
  </li>
